Django==1.6
M2Crypto==0.22.3
django_extensions
django-simple-history
python-dateutil
django_databrowse
numpy
Unipath
GitPython
factory-boy
pytz
git+https://github.com/django-tastypie/django-tastypie#egg=TastyPie
git+https://github.com/botswana-harvard/edc-identifier#egg=edc-identifier
