Django>=1.6
django-extensions>=1.5.5
unipath>=1.1
requests>=2.7.0
requests-oauthlib>=0.5.0
-e git+https://github.com/django-tastypie/django-tastypie#egg=TastyPie
-e git+https://github.com/botswana-harvard/getresults-identifier#egg=getresults-identifier
factory_boy==2.4.1
pytz